header {
    height: 50px;
    padding-top: 25px;
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;

            .active {
                color:rgb(28, 34, 125);
            }

            &:nth-child(5n) {
                margin-left: 40% ;
            } 
        }
    }
    a {
        text-decoration: none;
        font-size: 24px;
        color: black;

    &:hover{
        text-decoration: underline;
    }
    }
    &.white {
        background-color: #EBECF0;
    }
    &.dark {
        background-color:#C0AB8E;
    }
}